*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 18, 34);
}
section .clock{
    width: 450px;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /*border: 1px solid #fff;*/
    background: url(./clock.png);
    background-size: cover;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
}
.hour, .min, .sec{
    position: absolute;
}
.clock .hour, .hr{
    width: 113px;
    height: 170px;
}
.clock .min, .mn{
    width: 130px;
    height: 220px;
}
.clock .sec, .sc{
    width: 5px;
    height: 270px;
}
.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
}
.hr::before{
    content: "";
    background: #fff;
    position: absolute;
    width: 13px;
    height: 84px;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn::before{
    content: "";
    background: rgb(234, 250, 4);
    position: absolute;
    width: 10px;
    height: 108px;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.sc::before{
    content: "";
    background: rgb(255, 0, 128);
    position: absolute;
    width: 3px;
    height: 170px;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
