*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 125vh;
    background-color: rgb(32, 35, 48);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 20px;
    opacity: 0.8;
    cursor: pointer;
}
 h3{
     position: absolute;
     color: orange;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 25px;
     font-weight: 700;
     margin-left: 120px;
     margin-top: 0;
     cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    padding: 30px 10%;

}
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: -70px;
}
.active, ul li:hover{
    background: rgb(32, 35, 48);;
    border-radius: 20px;
}
nav ul li{
    background: rgb(32, 35, 48);;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
}
nav ul li a:hover{
    color: aqua;
}
nav ul ul{
    position: absolute;
    top: 40px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
    margin: 10px;
}
nav ul li:hover > ul li{
    width: 150px;
    padding: 3px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
nav ul li:hover > ul li:last-child{
    border-bottom: none;
}
.download{
    display: flex;
    flex-wrap: wrap;
}
.download a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.download a span{
    color: rgb(255, 145, 0);
}
.text-box{
    margin-left: 10px;
    padding: 10px;
}
.text-box h1{
    color: rgb(255, 174, 0);
    margin-left: 10%;
}
.text-box p{
    color: #fff;
    letter-spacing: 1.2px;
    line-height: 30px
}
button{
    background-color: rgba(255, 146, 5, 1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all .3s ease 0s;
    padding: 9px 25px;
}
button:hover{
    background-color: rgba(255, 146, 5, .6);
}
a button{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
h2{
    color: orange;
    font-size: 35px;
    margin-left: 50px;

}
.slideshow-container{
    max-width: 40%;
    position: relative;
    margin-left: 10px;
    padding: 1px 1px 20px 0;
}
.slideshow-container .myslides{
   display: none;
}
.slideshow-container .myslides img{
    vertical-align: middle;
    width:500px;
    height: 250px;
    border-radius: 20px;
}
.slideshow-container .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
.maps{
    align-items: center;
    position: absolute;
    right: 50px;
    top:150px;
    cursor: pointer;
}
.maps img{
    border-radius: 10px;
    width: 320px;
    height: 280px;
    right: -50px;
    position: relative;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: orange;
    margin-left: 1000px;
    margin-top: -430px;
}
.maps p{
    color: #fff;
    letter-spacing: 1.2px;
    line-height: 30px
}



