*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 35, 48);
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.5s;
}

#logo path:nth-child(1){
    stroke-dasharray: 30px;
}
#logo path:nth-child(2){
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: line-anim 5s ease forwards;
}
#logo path:nth-child(3){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 0.5s;
}
#logo path:nth-child(4){
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: line-anim 5s ease forwards 1s;
}
#logo path:nth-child(5){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 1.5s;
}
#logo path:nth-child(6){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 2s;
}
#logo path:nth-child(7){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 2.5s;
}
#logo path:nth-child(8){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 3s;
}
#logo path:nth-child(9){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 3.5s;
}
#logo path:nth-child(10){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 4s;
}
#logo path:nth-child(11){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 4.5s;
}
#logo path:nth-child(12){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 5s;
}
#logo path:nth-child(13){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 5.5s;
}
#logo path:nth-child(14){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 6s;
}
#logo path:nth-child(15){
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    animation: line-anim 5s ease forwards 6.5s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}