@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.5s ease;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f8ff;
}
section.dark{
    background: #24292d;
}
.container{
    height: 220px;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 550px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
section.dark .container{
    background: #323840;
}
.container .icons i{
    position: absolute;
    right: 17px;
    top: 17px;
    height: 30px;
    width: 30px;
    background: #24292d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;

}
section.dark .container .icons i{
    color: #323840;
    background: #fff;
}
.container .icons i.fa-sun{
    opacity: 0;
    pointer-events: none;
}
section.dark .container .icons i.fa-sun{
    opacity: 1;
    pointer-events: auto;
    font-size: 15px;
}
.container .time {
    display: flex;
    align-items: center;
}
.container .time .time-colon{
    display: flex;
    align-items: center;
    position: relative;
}
.container .time .time-colon .am_pm{
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}
section.dark .am_pm{
    color: #fff;
}
.time .time-colon .time-text {
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f0f8ff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
section.dark .time .time-colon .time-text{
    background: #24292d;
}
.time .time-colon .time-text,
.time .time-colon .colon{
    font-size: 35px;
    font-weight: 600;
}
section.dark .time .time-colon .time-text,
section.dark .time .time-colon .colon{
    color: #fff;
}
.time .time-colon .colon{
    font-size: 40px;
    margin: 0 10px;
}
.time .time-colon .time-text .text{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}
